.bubbles-main {
  background: url("../img/bubbles-main.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.bubbles-main--about {
  background: url("../img/bubbles-about.png");
  background-repeat: no-repeat;
  background-position: center top;
}
