.button {
  display: block;
  font-family: AntiQuasi;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 50px;
  cursor: pointer;
}

.button--writeus {

}
