.calendar {
  width: 535px;
}

@media (max-width: 780px) and (min-width: 481px) {
  .calendar {
    width: 440px;
    margin-top: 45px;
    margin-left: 0;
    padding-right: 20px;
  }
}

@media (max-width: @mobile-width) {
  .calendar {
    width: 300px;
    margin-top: 13px;
    padding-right: 0;
  }
}
