.calendar {
  width: 540px;
  margin-top: 45px;
  margin-left: 40px;
}

.calendar__list {
  display: flex;
  flex-direction: row;
  margin-bottom: 55px;
}

.calendar__list > div {
  display: block;
  width: 105px;
}

.calendar__data {
  position: relative;
  font-family: AntiQuasi;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 30px;
}

.calendar__data--data1 {


}

.calendar__data--data1::after {
  position: absolute;
  top: -30px;
  left: 4px;
  content: url("../img/flower_29.png");
  width: 95px;
  height: 95px;
  z-index: -1;
}

.calendar__data--data2::after {
  position: absolute;
  top: -30px;
  left: 5;
  content: url("../img/flower_1.png");
  width: 100px;
  height: 100px;
  z-index: -1;
}

.calendar__item {

}

.calendar__month {
  font-family: AntiQuasi;
  font-size: 20px;
  line-height: 30px;
  color: #d71c6d;
  text-align: center;
  margin: 0;
  margin-top: 25px;
}

.calendar__month--october {
  color: #70b4a7;
}

.calendar__img {
  margin-bottom: 15px;
}
