.calendar {
  width: 535px;
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .calendar {
    width: 440px;
    margin-top: 45px;
    margin-left: 0;
    padding-right: 20px;
  }
}

@media (max-width: @mobile-width) {
  .calendar {
    width: 300px;
    margin-top: 45px;
    padding-right: 0;
  }
}

.calendar__list {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

@media (max-width: @tablet-width) {
  .calendar__list {
    margin-bottom: 30px;
  }
}

@media (max-width: @mobile-width) {
  .calendar__list {
    flex-direction: column;
  }
}

.calendar__data {
  position: relative;
  font-family: AntiQuasi;
  font-size: 42px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 30px;
}

.calendar__data--data1::after {
  position: absolute;
  top: -30px;
  left: 5px;
  content: url("../img/flower-date.svg");
  width: 95px;
  height: 95px;
  z-index: -1;
}

.calendar__data--data2::after {
  position: absolute;
  top: -30px;
  left: 0;
  content: url("../img/star-date.svg");
  width: 100px;
  height: 100px;
  z-index: -1;
}

@media (max-width: @mobile-width) {
  .calendar__data::after {
    top: -28px;
    left: calc(50% - 95px / 2);
  }
}

.calendar__month {
  display: block;
  font-family: AntiQuasi;
  font-size: 24px;
  line-height: 30px;
  color: #d71c6d;
  text-align: center;
  margin: 0;
  margin-top: 23px;
}

.calendar__month--october {
  color: #70b4a7;
}
