.communication__number {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #59361b;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.communication__number span {
  font-weight: 700;
}

.communication__adress-scheme {
  display: block;
  color: #59a8dd;
  margin-top: 8px;
  cursor: pointer;
}

.communication__adress-scheme {
  &:focus,
  &:hover {
    color: #1a5b87;
    outline: none;
  }

  &:active {
    color: rgba(89, 168, 221, 0.5);
  }
}

.communication__number {
  &:focus,
  &:hover {
    color: #361f0d;
    outline: none;
  }

  &:active {
    color: rgba(103, 58, 23, 0.7);
  }
}
