.contact {
  position: relative;
  width: 1140px;
  margin-left: 223px;
  margin-top: 45px;
  margin-bottom: 109px;
}

.contact__text {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #59361b;
  margin: 0;
  margin-bottom: 14px;
}

.contact__text--our-business {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.contact__social-list {
  position: relative;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

.contact__social-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #59361b;
}

.contact__social-link {
  position: absolute;
}

.contact__social-img {

}

.contact__social-img--vkontakte {
  width: 22px;
  height: 13px;
  fill: red;
}

.contact__social-img--instagram {
  width: 19px;
  height: 19px;
  fill: red;
}

.contact__information {
  font-size: 13px;
  color: #59a8dd;
  margin-bottom: 35px;
  cursor: pointer;
}

.contact__information--our-business {
  display: inline-block;
  text-decoration: underline;
}
