.contact {
  width: 1140px;
  padding-top: 309px;
  margin: 0 auto;
  margin-bottom: 109px;
}

@media (max-width: @tablet-width) {
  .contact {
    width: 564px;
    padding-top: 309px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0;
    margin-bottom: 109px;
  }
}

@media (max-width: @mobile-width) {
  .contact {

  }
}

.contact__text {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #59361b;
  margin: 0;
  margin-bottom: 14px;
}

@media (max-width: @tablet-width) {
  .contact__text {

  }
}

@media (max-width: @mobile-width) {
  .contact__text {
    text-align: center;

  }
}

.contact__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: @tablet-width) {
  .contact__item {

  }
}

@media (max-width: @mobile-width) {
  .contact__item {
    flex-direction: column;
    align-items: center;
  }
}

.contact__text--our-business {
  display: block;
  margin-left: 620px;
}

@media (max-width: @tablet-width) {
  .contact__text--our-business {
    margin-left: 75px;

  }
}

@media (max-width: @mobile-width) {
  .contact__text--our-business {
    position: relative;
  }
}

.contact__social-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

.contact__social-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #59361b;
  text-align: center;
}

.contact__social-link {
  display: inline-block;
  vertical-align: middle;
}

.contact__social-link svg {
  vertical-align: middle;
  fill: #ffffff;
}

.contact__social-link--vkontakte {
  width: 22px;
  height: 13px;
}

.contact__social-link--instagram {
  width: 19px;
  height: 19px;
}

.contact__information {
  font-size: 16px;
  color: #59a8dd;
  cursor: pointer;
}

.contact__information--our-business {
  display: inline-block;
  text-decoration: underline;
}
