.discount {
  display: flex;
  width: 600px;
  text-align: left;
  margin-left: 158px;
  margin-top: 77px;
  margin-bottom: 27px;
}

@media (max-width: @tablet-width) {
  .discount {
    display: inline-block;
    text-align: center;
    padding: 0 40px;
  }
}

@media (max-width: @mobile-width) {
  .discount {
    margin-top: 370px;
    padding: 0 20px;
  }
}

@media (max-width: @tablet-width) {
  .discount__wrap {


  }
}

.discount__percent {
  font-family: AntiQuasi;
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  color: #d73c2c;
  margin: 0;
}

.discount__percent span {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -2px;
  color: #59361b;
  margin-bottom: 20px;
}

.discount__desc {
  width: 190px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #59361b;
  margin: 0;
  margin-top: 18px;
}

.discount__btn {
  display: block;
  width: 362px;
  height: 70px;
  color: #ffffff;
  background-color: #d71c6d;
}

@media (max-width: @tablet-width) {
  .discount__btn {
    margin-top: 25px;
  }
}

@media (max-width: @mobile-width) {
  .discount__btn {
    width: 280px;

  }
}
