.discount {
  position: relative;
  width: 195px;
  margin-top: 30px;
  margin-left: 380px;
  margin-bottom: 55px;
  text-align: left;
}

.discount__percent {
  font-family: AntiQuasi;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #d73c2c;
  margin: 0;

}

.discount__percent span {
  display: block;
  font-size: 56px;
  color: #59361b;
  margin-bottom: 20px;
}

.discount__desc {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #59361b;
  margin: 0;
}

.discount__btn {
  position: absolute;
  top: 0;
  left: 230px;
  width: 362px;
  color: #ffffff;
  background-color: #d71c6d;
}
