.features {

}

.features__title {
  display: block;
  font-family: AntiQuasi;
  font-size: 25px;
  line-height: 28px;
  text-align: left;
  color: #59361b;
  text-decoration: none;
  margin-bottom: 10px;
}

.features__subtitle {
  margin: 0;
}

.features__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
  color: #59361b;
  margin: 0;
  margin-top: 30px;
}
