.information {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -30px;
}

@media (max-width: 1196px) and (min-width: 768px) {
  .information {
    width: 720px;
  }
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .information {
    flex-direction: column;
    width: 520px;
  }
}

@media (max-width: @mobile-width) {
  .information {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 45px;
  }
}



.information p {
  padding: 0;
}

.information__content {
  width: 560px;
}

@media (max-width: 1196px) and (min-width: 768px) {
  .information__content {
    width: 720px;
  }
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .information__content {
    width: 520px;
  }
}

@media (max-width: @mobile-width) {
  .information__content {
    width: 300px;
  }
}

.information__content--history,
.information__content--people {
  display: flex;
  flex-direction: column;
  width: 800px;
}

@media (max-width: 1196px) and (min-width: 768px) {
  .information__content--history,
  .information__content--people {
    width: 720px;
    order: 2;
  }
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .information__content--history,
  .information__content--people {
    width: 520px;
    order: 2;
  }
}

@media (max-width: @mobile-width) {
  .information__content--history,
  .information__content--people {
    width: 300px;
    order: 2;
  }
}

.information__title {
  font-family: AntiQuasi;
  font-size: 42px;
  line-height: 45px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #59361b;
  margin: 0;
  margin-bottom: 27px;
}

.information__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -0.3px;
  text-align: left;
  color: #59361b;
  margin: 0;
  margin-bottom: 32px;
}

.information__text--history {
  margin-bottom: 62px;
}

.information__link {
  display: inline-block;
  font-size: 24px;
  color: #59a8dd;
  cursor: pointer;
}

.information__link--desc {
  margin-bottom: 35px;
}

@media (max-width: @tablet-width) {
  .information__text--subscription {
    margin-bottom: 0;
  }
}

.information__image-history {
  margin-top: 20px;
  margin-bottom: 50px;
}

.information__person {

}

.information__person-item {
  position: relative;
  width: 520px;
  margin-left: 300px;
}

.information__person-item::before {
  position: absolute;
  content: "";
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: url("../img/gschwend.jpg");
  background-repeat: no-repeat;
  left: -300px;
}

.information__person-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.information__person-name {
  font-family: AntiQuasi;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #59361b;
  margin: 0;
}

.information__person-name span {
  text-transform: uppercase;
}

.information__text--person-description {
  font-family: HeliosLight;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #59361b;
  margin: 0;
}


