.main-nav {
  position: relative;
  width: 1140px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: @tablet-width) {
  .main-nav {
    display: block;
  }
}

@media (max-width: @mobile-width) {
  .main-nav {
    padding: 0 20px;
  }
}

.main-nav__wrapper {
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -45px;
}

@media (max-width: @tablet-width) {
  .main-nav__wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 45px;
  }
}

@media (max-width: @mobile-width) {
  .main-nav__wrapper {

  }
}

.main-nav p {
  margin: 0;
  padding: 0;
}

.main-nav__logo-link {
  display: block;
  width: 300px;
  margin-bottom: 7px;
}

.main-nav__communication {
  padding-top: 23px;
  margin-left: 940px;
}

@media (max-width: @tablet-width) {
  .main-nav__communication {
    margin: 0;
  }
}

@media (max-width: @mobile-width) {
  .main-nav__communication {

  }
}

.main-nav__center {
  position: absolute;
  top: 183px;
  left: 80px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  text-align: left;
  color: #59361b;
  margin-left: 38px;
}

.main-nav__list {

}

@media (max-width: @tablet-width) {
  .main-nav__list {
    display: none;
  }
}

@media (max-width: @mobile-width) {
  .main-nav__list {
    display: none;
  }
}

.main-nav__toggle {
  display: none;
}

  @media (max-width: @tablet-width) {
  .main-nav__toggle {
    display: block;
    top: 43px;
    right: calc(50% - 310px);
    position: absolute;
    margin: 0;
    font-size: 0;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: @mobile-width) {
.main-nav__toggle {
  display: block;
  position: absolute;
  top: 23px;
  right: calc(50% - 140px);
  margin: 0;
  font-size: 0;
  border: none;
  cursor: pointer;
  }
}

.main-nav__toggle--opened {

}
