

.main-nav__wrapper {
  display: flex;
  position: relative;
  width: 1140px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding-top: 42px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-start;
  border: 2px solid blue;
}

@media (max-width: @tablet-width) {
  .main-nav__wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 560px;
  }
}

@media (max-width: @mobile-width) {
  .main-nav__wrapper {
    padding-top: 120px;
  }
}

.main-nav p {
  margin: 0;
  padding: 0;
}

.main-nav__logo-link {
  display: block;
  width: 300px;
}

.main-nav__communication {
  position: absolute;
  top: 23px;
  right: 85px;
}


@media (max-width: @tablet-width) {
  .main-nav__communication {
    margin: 0;
  }
}

@media (max-width: @mobile-width) {
  .main-nav__communication {
    left: 0;
  }
}

.main-nav__center {
  position: absolute;
  top: 185px;
  left: 39px;
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: left;
  color: #59361b;
  margin-left: 38px;
}

@media (max-width: @mobile-width) {
  .main-nav__center {
    top: 250px;
  }
}

.main-nav__toggle {
  display: none;
}

  @media (max-width: @tablet-width) {
  .main-nav__toggle {

  }
}

@media (max-width: @mobile-width) {
.main-nav__toggle {
  display: none;
  position: absolute;
  width: 50px;
  top: 350px;
  left: 0;
  font-size: 0;
  border: none;
  cursor: pointer;
  }
}

.main-nav__toggle--opened {

}
