.meeting {
  width: 413px;
  margin-left: 20px;
  padding-top: 30px;
  text-align: left;
}

@media (max-width: @mobile-width) {
  .meeting {
    width: 320px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.meeting__title {
  font-family: AntiQuasi;
  font-size: 20px;
  line-height: auto;
  color: #59361b;
  margin: 0;
  margin-bottom: 5px;
}

.meeting__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #59361b;
  margin: 0;
}
