.page-header {
  position: relative;
  background-color: #fffce4;
}

@media (max-width: @tablet-width) {
  .page-header {
    padding-bottom: px;
  }
}

.page-header::before {
  position: absolute;
  top: 177px;
  left: 0;
  content: url("../img/volna_header.png");
  height: 98px;
  z-index: -1;
}

@media (max-width: @tablet-width) {
  .page-header::before {
    top: 545px;
  }
}
