.page-main {
  position: relative;
}

.page-main--people {
  background: url("../img/wave-top_white.png");
  background-repeat: repeat-x;
  background-position: 0 -45px;
  min-height: 1465px;
}

@media (max-width: @mobile-width) {
  .page-main--people {
    background: url("../img/wave-top_white.png"), #fdebdb;
    background-repeat: repeat-x;
    background-position: 0 -75px, 0 0;
    min-height: 1800px;
  }
}
