.progress {
  position: relative;
  background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 96%, transparent);
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 1150px, 0 1200px, 0 0;
  min-height: 1465px;
  overflow-x: hidden;
}

@media (max-width: @desktop-width) {
  .progress {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 98%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 2070px, 0 2123px, 0 0;
    min-height: 2387px;
  }
}

@media (max-width: @tablet-width) {
  .progress {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 96%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 2020px, 0 2080px, 0 0;
    min-height: 2345px;
  }
}

@media (max-width: @mobile-width) {
  .progress {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 98%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 3560px, 0 3630px, 0 0;
    min-height: 3895px;
  }
}



.progress--page-about {
  background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 90%, transparent);
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 420px, 0 475px, 0 0;
  min-height: 738px;
  overflow-x: hidden;
}

@media (max-width: @desktop-width) {
  .progress--page-about {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 90%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 605px, 0 670px, 0 0;
    min-height: 940px;
  }
}

@media (max-width: @tablet-width) {
  .progress--page-about {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 90%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 770px, 0 830px, 0 0;
    min-height: 1095px;
  }
}

@media (max-width: @mobile-width) {
  .progress--page-about {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 96%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 1100px, 0 1160px, 0 0;
    min-height: 1425px;
  }
}




.progress--page-baza {
  background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 90%, transparent);
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 150px, 0 205px, 0 0;
  min-height: 470px;
  overflow-x: hidden;
}


@media (max-width: @desktop-width) {
  .progress--page-baza {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 90%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 330px, 0 385px, 0 0;
    min-height: 650px;
  }
}

@media (max-width: @tablet-width){
  .progress--page-baza {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 90%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 350px, 0 405px, 0 0;
    min-height: 670px;
  }
}

@media (max-width: @mobile-width) {
  .progress--page-baza {
    background: url("../img/wave-center-down.png"), url("../img/wave-center-down.png"), url("../img/pattern-crop.jpg"), linear-gradient(to top, #f6f8e2 96%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 700px, 0 760px, 0 0;
    min-height: 1025px;
  }
}

.progress__wrapper {
  position: relative;
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 65px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.progress__wrapper--main::after {
  position: absolute;
  top: 120px;
  left: 800px;
  content: url("../img/diploma.png");
}

.progress__icon {
  margin-top: 38px;
  margin-bottom: 20px;
}


.progress--people {
  background: url("../img/wave-center-people.png"), url("../img/wave-center-people.png"), url("../img/background-circles.png"), linear-gradient(to top, #f6f0f7 90%, transparent);
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 420px, 0 495px, 0 0;
  min-height: 680px;
}


@media (max-width: @desktop-width) {
  .progress--people {
    background: url("../img/wave-center-people.png"), url("../img/wave-center-people.png"), url("../img/background-circles.png"), linear-gradient(to top, #f6f0f7 90%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 567px, 0 645px, 0 0;
    min-height: 830px;
  }
}

@media (max-width: @tablet-width) {
  .progress--people {
    position: relative;
    background: url("../img/wave-center-people.png"), url("../img/wave-center-people.png"), url("../img/background-circles.png"), linear-gradient(to top, #f6f0f7 96%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 790px, 0 865px, 0 0;
    min-height: 1050px;
  }
}

@media (max-width: @mobile-width) {
  .progress--people {
    position: relative;
    background: url("../img/wave-center-people.png"), url("../img/wave-center-people.png"), url("../img/background-circles.png"), linear-gradient(to top, #f6f0f7 96%, transparent);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 1085px, 0 1160px, 0 0;
    min-height: 1340px;
  }
}


@media (max-width: @desktop-width) {
  .progress__wrapper {
    width: 620px;
    flex-wrap: wrap;
    padding-top: 20px;
  }
}

@media (max-width: @tablet-width) {
  .progress__wrapper {
    width: 440px;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: 20px;
  }
}

@media (max-width: @mobile-width) {
  .progress__wrapper {
    width: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }
}

@media (max-width: @tablet-width) {
  .progress__wrapper--page-about,
  .progress__wrapper--page-baza {
    padding-top: 45px;
  }
}

@media (max-width: @desktop-width) {
  .progress__wrapper--main::after {
    top: 1020px;
    left: 215px;
  }
}

@media (max-width: @tablet-width) {
  .progress__wrapper--main::after {
    top: 1085px;
    left: 180px;
    content: url("../img/diploma-planshet.png");
  }
}

@media (max-width: @mobile-width) {
  .progress__wrapper--main::after {
    top: 2770px;
    left: -30px;
    content: url("../img/diploma-mobile.png");
  }
}


/*
.progress::before {
  position: absolute;
  content:"";
  top: -20px;
  background: url("../img/volna.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 98px;
  z-index: -1;
}

.progress::after {
  position: absolute;
  content:"";
  bottom: -75px;
  background: url("../img/volna.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 98px;
  z-index: -1;
}
*/
