.progress {
  position: relative;
  background-color: #f7f8e2;
  margin: 0 auto;
  margin-top: 25px;
}

.progress__wave {
  background-image: url("../img/volna.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 98px;
  z-index: -1;
}

.progress__wave-1 {
  position: absolute;
  top: -20px;
}

.progress__wave-2 {
  position: absolute;
  bottom: -75px;
}

.progress__wrapper {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: @tablet-width) {
  .progress__wrapper {

  }
}

@media (max-width: @mobile-width) {
  .progress__wrapper {

  }
}

.progress__wrapp-blocks {
  position: relative;
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 45px;
}

@media (max-width: @tablet-width) {
  .progress__wrapp-blocks {
    display: block;
    width: 570px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }
}

@media (max-width: @mobile-width) {
  .progress__wrapp-blocks {
    width: 255px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.progress__block-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
}

@media (max-width: @mobile-width) {
  .progress__block-1 {
    display: block;
  }
}

.progress__block-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
}

@media (max-width: @mobile-width) {
  .progress__block-2 {
    display: block;
    margin: 0;
  }
}

.progress__list {
  width: 255px;
}

@media (max-width: @tablet-width) {
  .progress__list {
    margin-top: 75px;
  }
}

@media (max-width: @mobile-width) {
  .progress__list {
    display: block;
  }
}

.progress__list--diploma {
  position: relative;
}

.progress__lead {
  width: 220px;
  font-family: AntiQuasi;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #d71c6d;
  margin: 0;
}

.progress__lead span {
  display: block;
  font-size: 58px;
  margin-bottom: 30px;
}

.progress__icon {
  margin-top: 38px;
  margin-bottom: 20px;
}

.progress__diploma {
  display: block;
  position: absolute;
  top: 100px;
  left: -80px;
}

.progress__pattern {
  position: relative;
  width: 100%;
  height: 235px;
  background-image: url(../img/pattern.png);
  z-index: -2;
}
