.progress {
  position: relative;
  background-color: #f7f8e2;
}

.progress::before {
  position: absolute;
  top: -20px;
  content: url("../img/volna.png");
  width: 1580px;
  height: 98px;
}

.progress::after {
  position: absolute;
  bottom: -75px;
  content: url("../img/volna.png");
  width: 1580px;
  z-index: -1;
}

.progress__wrapper {
  position: relative;
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  margin-left: 223px;
}

.progress__list {
  width: 255px;
}

.progress__list--diploma {
  position: relative;
}

.progress__lead {
  width: 220px;
  font-family: AntiQuasi;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #d71c6d;
  margin: 0;
}

.progress__lead span {
  display: block;
  font-size: 58px;
  margin-bottom: 30px;
}

.progress__icon {
  margin-top: 38px;
  margin-bottom: 20px;
}

.progress__diploma {
  position: absolute;
  display: block;
  top: 95px;
  right: -135px;
}

.progress__pattern {
  position: relative;
  width: 100%;
  height: 235px;
  background-image: url(../img/pattern.png);
  z-index: -2;
}
