.site-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

@media (max-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: @mobile-width) {
  .site-list {
    display: block;
  }
}

.site-list__item {
  width: 125px;
  margin-left: 75px;
}

@media (max-width: @tablet-width) {
  .site-list__item {
    margin-top: 20px;
  }
}

.site-list__item a {
  font-family: AntiQuasi;
  font-size: 25px;
  line-height: 50px;
  text-align: left;
  color: #59361b;
  text-decoration: none;
  cursor: pointer;
}

.site-list__content {
  font-family: AntiQuasi;
  font-size: 10px;
  line-height: 16px;
  text-align: left;
  color: #d73c2c;
  text-transform: uppercase;
}
