.site-list {
  display: flex;
  width: 715px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  margin-left: 75px;
  flex-grow: 1;
}

@media (max-width: 1196px) and (min-width: 768px) {
  .site-list {
    margin-left: 0;
  }
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .site-list {
<<<<<<< HEAD
    width: 520px;
=======
    width: 100%;
>>>>>>> c5ffe58064a066e8d016d6ab1268f4a18f16a2cf
    flex-direction: column;
    margin-left: 0;
  }
}

@media (max-width: @mobile-width) {
  .site-list {
    width: 370px;
    margin-left: 0;
  }
}

.site-list__item {
  margin-left: px;
}

@media (max-width: @tablet-width) {
  .site-list__item {
    margin-top: 20px;
  }
}

.site-list__link {
  font-family: AntiQuasi;
  font-size: 33px;
  line-height: 50px;
  text-align: left;
  color: #59361b;
  text-decoration: none;
  cursor: pointer;
}

<<<<<<< HEAD
.site-list__item a:hover {
  color: #a51b57;
}

.site-list__item-active:active {
=======
.site-list__link:hover {
  color: #a51b57;
}

.site-list__link--active {
>>>>>>> c5ffe58064a066e8d016d6ab1268f4a18f16a2cf
  color: #d71c6d;
}

.site-list__content {
  font-family: AntiQuasi;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #d73c2c;
  text-transform: uppercase;
}
