.user {
  width: 353px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 auto;
  margin-bottom: 90px;
}

.user__print,
.user__download {
  font-family: AntiQuasi;
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #59361b;
  text-decoration: none;
  cursor: pointer;
}

.user img {
  display: inline-block;
  margin-right: 12px;
}



