.weekday {
  position: relative;
  width: 1140px;
  margin: 0 auto;
  margin-top: 10px;
}

@media (max-width: 1196px) and (min-width: 768px) {
  .weekday {
    width: 720px;
  }
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .weekday {
    width: 440px;
  }
}

@media (max-width: @mobile-width) {
  .weekday {
    width: 300px;
  }
}

.weekday__wrapper {

}

.weekday__list {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;
  padding-left: 0;
  list-style: none;
}

@media (max-width: 1196px) and (min-width: 768px) {
  .weekday__list {
    width: 500px;
  }
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .weekday__list {
    width: 220px;
  }
}

@media (max-width: @mobile-width) {
  .weekday__list {
    width: 220px;
  }
}

.weekday__item {

}

.weekday__day {
  display: block;
  width: 168px;
  font-family: AntiQuasi;
  font-size: 25px;
  line-height: 17px;
  font-weight: normal;
  color: #59361b;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 17px;
  background: transparent;
  cursor: pointer;
}

.weekday__day--active {
  color: #ffffff;
  padding-top: 23px;
  padding-bottom: 17px;
  background-color: #d71c6d;
  border-radius: 50px;
}

@media (max-width: @tablet-width) and (min-width: 480px) {
  .weekday__day {

  }
}

@media (max-width: @mobile-width) {
  .weekday__day {
    width: 168px;
  }
}

.weekday__month {
  display: block;
  font-family: Helios;
  font-size: 16px;
  font-weight: 700;
  color: #59361b;
  margin-top: 9px;
}

.weekday__month--active {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 9px;
}


